* {
  color: black;
  text-decoration: none;
  background: linear-gradient(to right, #4B1248, #F0C27B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.min-vh-100 {
  min-height: 49vh !important;
}
